<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Results</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      Results
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
<app-selection-form
  [results]="results"
  (selectedChoices)="choicesSelected($event)"
  (selectedResults)="resultsSelected($event)"
></app-selection-form>
  </ion-content>