<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Photo Page</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <button ion-button color="primary" (click)="takePicture()">Take Picture</button>
  <ion-card *ngIf="imageUrl">
    <ion-card-content>
      <img [src]="imageUrl">
      <ion-input type="text" [(ngModel)]="photoName" placeholder="Name Photo"></ion-input>
        <button ion-button block (click)="savePhoto()">Save Photo</button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div *ngFor="let item of photos">
        <img [src]="item.url">
        <p>{{item.date}}</p>
        <p>{{item.time}}</p>
        <p>{{item?.name}}</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>