<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <button ion-button block color="primary" (click)="goTo('NewTestPage')">Take New Test</button>
  <button ion-button block color="primary" (click)="goTo('ResultsPage')">Go To Results Page</button>
  <button ion-button block color="primary" (click)="goTo('PhotosPage')">Go To Photos Page</button>
</ion-content>
