<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>New Test</ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding >
  <ion-list radio-group [(ngModel)]="newTest">
        
  <ion-item *ngFor="let test of testTemplate | async" >
    <ion-label>{{test?.mfr}}: {{test?.type}}</ion-label>
    <ion-radio (click)="saveTestChoice(test)" value={{test.testId}} ></ion-radio>
  </ion-item>
  <button ion-button block (click)="createNewTest()"> Save Test Data
  </button>
  </ion-list>

</ion-content>