<ion-card>
    <ion-item>
        <ion-label>Test Manufacturer</ion-label>
        <ion-select [(ngModel)]="mfrChoice">
            <ion-option>All</ion-option>
            <ion-option *ngFor="let mfr of resultMfrs">{{ mfr }}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Test Type</ion-label>
        <ion-select [(ngModel)]="typeChoice">
            <ion-option *ngFor="let type of resultsType" [value]="type">{{ type }}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
            <button ion-button (click)="resultsSelected()">Save</button>
    </ion-item>
</ion-card>