<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Test Page</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>

<ion-content *ngIf="this.test" padding>
  <ion-card >
      <ion-card-header>
        <h1>
          {{ this.test.type}}
        </h1>
        <h4>
          {{ this.test.mfr}}          
        </h4>
      </ion-card-header>
      <ion-card-content>
          {{ this.test.expiration}}          
      </ion-card-content>
    </ion-card>
      <ion-card  *ngFor="let step of this.test.steps let i = index">
        <ion-card-header>
          Step {{ i + 1}}
        </ion-card-header>
        <ion-card-content>
          {{step.desc}}
          <ion-item *ngIf="step.timer">
            <timer
            timeInSeconds = {{step.timeInSeconds}},
            description = {{step.desc}}
            ></timer>
          </ion-item>
        </ion-card-content>
      </ion-card>
    <ion-card>
      <ion-card-header>
        Results
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" [(ngModel)]="testResult" placeholder="Enter Test Result Here">
              <ion-label>{{test.units}}</ion-label>
          </ion-input>
        </ion-item>
            <button ion-button block (click)="saveResults()">Save</button>
      </ion-card-content>
    </ion-card>
</ion-content>
